var slice = function(arr, start, end){
    if(arr){
        return arr.slice(start, end);
    }else{
        return null;
    }
}


var parseImageUrl = function(n){
    if(n){
        return decodeURIComponent(n.replace("/agent/",""))
    }else{
        return ""
    }
}

var translate = function(n){
    switch (n) {
        case "male":
            return "男生"
        case "female":
            return "女生"
        case "picture":
            return "漫画"
        default:
            return "出版"
    }
}

var changeNum = function(num){
    if(num > 10000){
        return num = (num / 10000).toFixed(1)
    }else{
        return num
    }
}

module.exports = {
    slice: slice,
    parseImageUrl: parseImageUrl,
    translate:translate,
    changeNum:changeNum
}