page {
    .content {
        // height: calc(100vh - 66px);
        line-height: 1.5;
        padding: 0 10px;
        &.dark{
            background: #161819;
            color: #666;
        }
        &.eye{
            background: #c7edcc;
            color: #262626;
        }
        &.retro{
            background: url(https://qidian.gtimg.com/qd/images/read/theme/body_theme1_bg.9987a.png);
            color: #262626;
        }
        
        // column-width: 750rpx;
        .p {
            text-indent: 2em;
        }
    }
    .bar{
        .font-size{
            margin: 30px auto;
            width: 80%;
        }
        .bar-btn{
            display: flex;
            margin: 20px;
            justify-content: space-around;
            button{
                margin: 0;
                padding: 0;
                width: 20%;
                font-size: 12px;
            }
        }
        .theme{
            display: flex;
            justify-content: space-around;
            align-items: center;
            view{
                width: 50px;
                height: 50px;
                border-radius: 25px;
                text-align: center;
                line-height: 50px;
                border: 1px solid #999;
                &.dark{
                    background: #161819;
                    color: #666;
                }
                &.eye{
                    background: #c7edcc;
                    color: #262626;
                }
                &.retro{
                    background: url(https://qidian.gtimg.com/qd/images/read/theme/body_theme1_bg.9987a.png) no-repeat;
                    color: #262626;
                }
            }
        }
    }

}